<div>
    <div>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand mx-2 navID" href="">Products</a>
                <!-- text  -->
                <h6 class="navbar-nav mx-2 me-auto mb-2 mb-lg-0 .text-success " *ngIf="userId != ''">selected UserId:
                    &nbsp; &nbsp;
                    <span class=" text-black bg-warning
                        ">
                        {{userId}} </span>
                </h6>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                    <form class="d-flex" role="search">
                        <button type="button" class="btn btn-outline-success mb-lg-0 mx-2" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Select User</button>
                        <button class="btn btn-outline-success mx-2" disabled="true">View Orders</button>
                        <button class="btn btn-outline-success mx-2" (click)="navigateToCart()">
                            View Cart</button>

                    </form>
                </div>
            </div>
        </nav>

        <!-- Modal for Entering UserID-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Enter User ID</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="text" [(ngModel)]="userId" class="form-control" placeholder="Enter user ID"
                                aria-label="UserID" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" (click)="printID()" data-bs-dismiss="modal"
                            class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- DISPLAYING ALL PRODUCTS AND THEIR CATEGORIES -->


    <section style="background-color: #eee;">
        <div class="container py-3">
            <div *ngFor="let products of productList$ | async">
                <h4>Category: {{products.name}}</h4>
                <div class="row py-2">
                    <app-product-card class="col-md-12 col-lg-4 mb-4 mb-lg-0 py-3"
                        *ngFor="let product of products.products" [data]="product" [userId]="userId"></app-product-card>
                </div>
            </div>
        </div>
    </section>
</div>